extends layout

block content
	if session.cart
		h1 Shopping Cart
		div.cart-container
			label(class="big-title") image
			label(class="big-title") title
			label(class="big-title") price
			label(class="big-title") qty
		hr
		each product in products
			div.cart-container
				img(src="../#{product.item.image}" alt="image.jpg")
				div.product-change
					label(class="big-title") #{product.item.title}
					a(href="/delete/#{product.item._id}") Delete
				div.price
					label $ #{product.item.price}
				div.qty
					button(onclick="location.href=\'/reduce/#{product.item._id}\'") -
					h3 #{product.qty}
					button(onclick="location.href=\'/increase/#{product.item._id}\'") +
			hr
		h1 Total Price: #{totalPrice}
		a(href="/checkout" class="checkout-btn") Checkout
	else
		h1 You have no items in your cart
