<<<<<<< HEAD
//div.row
each product in products
  div.col-1
    div.thumbnail
      img(src="#{product.image}")
      div.caption
        h2 #{product.title}
        p #{product.description}
        div.home
          div.divide-2
            label(name="price", class="cost") $ #{product.price}
          div.divide-2
            button(name="add") Add to basket
=======
//div.row
each product in products
  div.col-1
    div.thumbnail
      img(src="#{product.image}")
      div.caption
       h2 #{product.title}
       p #{product.description}
       label(name="price", class="cost") $ #{product.price}
       button(name="add", class="add-cart") Add to basket
>>>>>>> Initial commit
