extends ../layout

block content
	div.product-detail
		img(src="../#{product.image}" alt="image.jpg")
		div.detail-info
			h2 #{product.title}
			h4 #{product.description}
			div.col-1-2
				h2 #{product.price}
				button(name="add" class="btn-add" onclick="add(\"#{product._id}\")") Add to basket
