extends ../layout

block content
  div.catalogue-container
    each product in products
      div.single-product
        a(href="/product-detail/#{product._id}" target="_blank")
          img(src="#{product.image}" alt="image.jpg")
        label(class="big-title") #{product.title}
        div
          div.price
            label $ #{product.price}
          button(name="add" class="btn-add" onclick="add(\"#{product._id}\")") Add to basket
